body {
    margin: 32px 64px;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 100%;
}

h1,
h2 {
    font-weight: 600;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
}

.add-new-task-btn {
    background: #0C39C7;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}

.clear-compleated-tasks-btn {
    background: #FFFFFF;
    color: #0C39C7;
    border: #0C39C7 1px solid;
}

.list-description {
    font-size: 14px;
    color: #475467;
}

.list-btn-icons {
    display: flex;
    gap: 10px;
}

.list-btn-icons .bi-pencil-fill {
    color: #7E7E7F;
}

.list-btn-icons .bi-trash {
    color: #D04444;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.active {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: center;
    color: #8B8B8B;

}

.checkbox {
    appearance: none;
    padding-top: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    outline: none;
    border: #475467 1px solid;
}

.checkbox:checked {
    background-image: url("checked.svg");
    background-size: contain;
    background-position: center;
    background-repeat: none;

}

.checkbox-container {
    display: flex;
    gap: 14px;
}

.text-pending {
    color: red;
    /* background-color:  #C03503; */
    background: #C035030F;

}

span .list-description {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #475467;
}

#searchTask {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #939393;
}

#sort {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    text-align: left;
    color: #09174A;
}

#sortTasks {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
    color: #09174A;
}

.task-head {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
    color: #282829
}

.head {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color:#101828;

}